@extends("shared/layout.html")
@require(logs, page)

@def content():
<div id="center-container">
    <div class="content">
        <h1>@{_('Site logs')}</h1>
        <table class="pure-table">
            <thead>
            <tr>
                <th>@{_('Time')}</th>
                <th>@{_('User')}</th>
                <th>@{_('Action')}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @for log in logs:
            <tr>
                <td>
                    <relative-time datetime="@{log.time.isoformat()}Z" prefix="" threshold="P1D">@{log.time.isoformat()}</relative-time>
                </td>
                <td>
                    @if log.uid:
                        @if log.uid.status != 10:
                            <a href="/u/@{log.uid.name}">@{log.uid.name}</a>\
                        @else:
                            @{_('[Deleted]')}
                        @end
                    @end
                </td>
                <td>
                    @if log.action == 19:
                        @{_('Banned <a href="/u/%(user)s">%(user)s</a>', user=log.desc)!!html}
                    @elif log.action == 20:
                        @{_('Created a sub')}
                    @elif log.action == 30:
                        @{_('Sub was transferred to <a href="/u/%(user)s">%(user)s</a>', user=log.desc)!!html}
                    @elif log.action == 24:
                        @{_('Sent mod invite to <a href="/u/%(user)s">%(user)s</a>', user=log.target.name)!!html}
                    @elif log.action == 26:
                        @{_('Removed <a href="/u/%(user)s">%(user)s</a> from the mod team', user=log.target.name) !!html}
                    @elif log.action == 27:
                        @{_('Revoked mod invite for <a href="/u/%(user)s">%(user)s</a> from the mod team', user=log.target.name) !!html}
                    @elif log.action == 52:
                        @{_('Deleted a post with reason <code>%(desc)s</code>', desc=e(log.desc))!!html}
                    @elif log.action == 58:
                        @{_('Un-deleted a post with reason <code>%(desc)s</code>', desc=e(log.desc))!!html}
                    @elif log.action == 53:
                        @{_('Deleted a comment with reason <code>%(desc)s</code>', desc=e(log.desc))!!html}
                    @elif log.action == 59:
                        @{_('Un-deleted a comment with reason <code>%(desc)s</code>', desc=e(log.desc))!!html}
                    @elif log.action == 41:
                        @{_('Created an announcement')}
                    @elif log.action == 42:
                        @{_('Banned domain <code>%(desc)s</code>', desc=e(log.desc))!!html}
                    @elif log.action == 43:
                        @{_('Unbanned domain <code>%(desc)s</code>', desc=e(log.desc))!!html}
                    @elif log.action == 44:
                        @{_('Removed an announcement')}
                    @elif log.action == 45:
                        @{_('Disabled post creation')}
                    @elif log.action == 46:
                        @{_('Re-enabled post creation')}
                    @elif log.action == 47:
                        @{_('Disabled registration without invite code')}
                    @elif log.action == 48:
                        @{_('Re-enabled registration')}
                    @elif log.action == 49:
                        @{_('Disabled new user registration')}
                    @elif log.action == 50:
                        @{_('Re-enabled new user registration')}
                    @elif log.action == 54:
                        @{_('Unbanned <a href="/u/%(user)s">%(user)s</a>', user=log.desc)!!html}
                    @elif log.action == 69:
                        @{_('Banned email domain <code>%(desc)s</code>', desc=e(log.desc))!!html}
                    @elif log.action == 70:
                        @{_('Unbanned email domain <code>%(desc)s</code>', desc=e(log.desc))!!html}
                    @elif log.action == 71:
                      @{_('Disabled captchas')}
                    @elif log.action == 72:
                      @{_('Enabled captchas')}
                    @elif log.action == 75:
                      @{_('Changed <code>%(setting)s</code> to <code>%(value)s<code>', setting=e(log.desc[:log.desc.find("/")]), value=e(log.desc[log.desc.find("/")+1:]))!!html}
                    @elif log.action == 1000:
                      @{_('Banned string "%(setting)s" in usernames', setting=log.desc)}
                    @elif log.action == 1001:
                      @{_('Un-banned string "%(setting)s" in usernames', setting=log.desc)}
                    @elif log.action == 1005:
                      @{_('Changed settings for %(desc)s posts', desc=log.desc)}
                    @else:
                        <i>[Type @{log.action}]</i> @{log.desc}
                    @end
                </td>
                <td>
                    @if log.sub:
                        <a href="/s/@{log.sub}">/s/@{log.sub}</a> \
                    @end
                    @if log.link:
                        @if log.sub:
                            | \
                        @end
                        <a href="@{log.link}">@{_('Link')}</a>\
                    @end
                </td>
            </tr>
            @end
            </tbody>
        </table>
        @if page > 1:
        <a href="@{url_for('site.view_sitelog', page=(page-1))}" class="btn">@{_('Previous page')}</a>
        @end

        @if len(logs) == 50:
        <a href="@{url_for('site.view_sitelog', page=(page+1))}" class="btn">@{_('Next page')}</a>
        @end
    </div>
</div>
@end
