@require(user)

@if current_user.is_admin() and user.name != current_user.name:
    @if user.status in (0, 1):
      <form method="POST" data-reload="true" id="banuser" action="@{url_for('do.ban_user', username=user.name)}">
          @{form.CsrfTokenOnlyForm().csrf_token()!!html}
        <a id="banuser-button" class="sbm-post pure-button pure-button-primary">@{_('Ban user')}</a>
      </form>
    @elif user.status == 5:
      <form method="POST" data-reload="true" id="unbanuser" action="@{url_for('do.unban_user', username=user.name)}">
        @{form.CsrfTokenOnlyForm().csrf_token()!!html}
        <a id="unbanuser-button" class="sbm-post pure-button pure-button-primary">@{_('Un-ban user')}</a>
      </form>
    @end
    <hr>
@end
@if user.uid == current_user.uid:
    <a href="@{url_for('user.edit_user')}" class="sbm-post pure-button @{(request.path == url_for('user.edit_user')) and 'pure-button-primary' or ''}">@{_('Preferences')}</a>
    <a href="/settings/account" class="sbm-post pure-button">@{_('Edit account')}</a>
    @if config.site.username_change.limit > 0:
        <a href="/settings/rename" class="sbm-post pure-button">@{_('Rename account')}</a>
    @end
    <a href="/settings/delete" class="sbm-post pure-button">@{_('Delete account')}</a>
    @if not current_user.can_admin:
        <a href="@{url_for('user.view_ignores', menu='user')}" class="sbm-post pure-button @{('settings/blocks' in request.path) and 'pure-button-primary' or ''}">@{_('Blocked users')}</a>
    @end
    @if config.site.require_invite_code:
        <hr/>
        <a href="@{url_for('user.invite_codes')}" class="sbm-post pure-button @{(request.path == url_for('user.invite_codes')) and 'pure-button-primary' or ''}">@{_('Invite codes')}</a>
    @end
    <hr>
@end
<a href="@{url_for('user.view', user=user.name)}" class="sbm-post pure-button @{(request.endpoint == 'user.view') and 'pure-button-primary' or ''}">@{_('Profile')}</a>
<a href="@{url_for('user.view_user_posts', user=user.name)}" class="sbm-post pure-button @{(request.endpoint == 'user.view_user_posts') and 'pure-button-primary' or ''}">@{_('View posts')}</a>
<a href="@{url_for('user.view_user_comments', user=user.name)}" class="sbm-post pure-button @{(request.endpoint == 'user.view_user_comments') and 'pure-button-primary' or ''}" >@{_('View comments')}</a>
@if current_user.is_admin() and user.name != current_user.name:
    <a class="sbm-post pure-button" href="/admin/voting/@{user.name}">@{_('View votes')}</a>
@end
@if user.uid == current_user.uid:
  @if current_user.canupload:
    <a href="@{url_for('user.view_user_uploads')}" class="sbm-post pure-button @{(request.endpoint == 'user.view_user_uploads') and 'pure-button-primary' or ''}">@{_('View uploads')}</a>
  @end
  <a href="@{url_for('user.view_user_savedposts', user=user.name)}" class="sbm-post pure-button @{(request.endpoint == 'user.view_user_savedposts') and 'pure-button-primary' or ''}">@{_('View saved posts')}</a>
@end
