@extends("shared/layout.html")
@import "shared/post.html" as ipost
@require(route, ann, page_info, kw)
@def sidebar():
<div id="sortbuttons" role="group" class="pure-button-group">
  <div class="pure-g">
      @if route.startswith('home.all_'):
        <a href="@{url_for('home.all_hot')}" class="sbm-post pure-button button-xsmall @{(route == 'home.all_hot') and 'pure-button-primary' or ''} pure-u-md-7-24">@{_('Hot')}</a>
        <a href="@{url_for('home.all_top')}" class="sbm-post pure-button button-xsmall @{(route == 'home.all_top') and 'pure-button-primary' or ''} pure-u-md-7-24">@{_('Top')}</a>
        <a href="@{url_for('home.all_new')}" class="sbm-post pure-button button-xsmall @{(route == 'home.all_new') and 'pure-button-primary' or ''} pure-u-md-7-24">@{_('New')}</a>
      @elif route.startswith('home'):
        <a href="@{url_for('home.hot')}" class="sbm-post pure-button button-xsmall @{(route == 'home.hot') and 'pure-button-primary' or ''} pure-u-md-7-24">@{_('Hot')}</a>
        <a href="@{url_for('home.top')}" class="sbm-post pure-button button-xsmall @{(route == 'home.top') and 'pure-button-primary' or ''} pure-u-md-7-24">@{_('Top')}</a>
        <a href="@{url_for('home.new')}" class="sbm-post pure-button button-xsmall @{(route == 'home.new') and 'pure-button-primary' or ''} pure-u-md-7-24">@{_('New')}</a>
      @end
  </div>
</div>
@include('shared/sidebar/home.html')
@end

@def main():
<div id="container">
  @if route.startswith('home.') or route.startswith('home.all_'):
    @if ann:
      <div id="announcement-post">
      @{ipost.singlePost(ann, False, announcement=True)!!html}
      <hr/>
      </div>
    @end
  @end

  @if not page_info["posts"]:
    <h1 class="noshit">@{_('There are no posts here, yet.')}</h1>
  @end
  <div class="alldaposts">
    @for post in page_info["posts"]:
      @if not ann or ann['pid'] != post['pid']:
        @{ipost.singlePost(post, False)!!html}
      @end
    @end
  </div>
  @if page_info["has_previous_page"]:
    <a href="@{url_for(route, before=page_info['start_cursor'], **kw)}" class="pure-button">@{_('Previous page')}</a>
  @end
  @if page_info["has_next_page"]:
    <a href="@{url_for(route, after=page_info['end_cursor'], **kw)}" class="pure-button">@{_('Next page')}</a>
  @end
</div>
@end

@def pagefoot():
  <label id="pagefoot-oindex" data-value="true" class="hide"></label>
  @if "labrat" in current_user.prefs:
    <label id="pagefoot-labrat" data-value="true" class="hide"></label>
  @end
  @if route == 'home.all_new':
    <label id="pagefoot-blocked" data-value="@{current_user.blocksid}" class="hide"></label>
  @end
  <label id="pagefoot-admin" data-value="@{current_user.is_admin()}" class="hide"></label>
  <label id="pagefoot-nsfw" data-value="@{'nsfw' in current_user.prefs}" class="hide"></label>
  <label id="pagefoot-nsfw-blur" data-value="@{'nsfw_blur' in current_user.prefs}" class="hide"></label>
@end
