@extends("shared/layout.html")
@import "shared/post.html" as ipost
@require(sub, isSubMod, page_info, route, subInfo, flair)


@def title():
  @{sub['title']} |\
@end

@def sidebar():

<div id="flair">
  @if flair:
    <span class="postflair">@{flair}</span>
    <a href="@{url_for('sub.view_sub_hot', sub=sub['name'])}">@{_('(show all)')}</a>
  @end
</div>
<div id="sortbuttons" role="group" class="pure-button-group">
  <div class="pure-g">
    <a href="@{url_for('sub.view_sub_hot', sub=sub['name'], flair=flair)}" class="sbm-post pure-button button-xsmall @{(route == 'sub.view_sub_hot') and 'pure-button-primary' or ''} pure-u-md-7-24">@{_('Hot')}</a>
    <a href="@{url_for('sub.view_sub_top', sub=sub['name'], flair=flair)}" class="sbm-post pure-button button-xsmall @{(route == 'sub.view_sub_top') and 'pure-button-primary' or ''} pure-u-md-7-24">@{_('Top')}</a>
    <a href="@{url_for('sub.view_sub_new', sub=sub['name'], flair=flair)}" class="sbm-post pure-button button-xsmall @{(route == 'sub.view_sub_new') and 'pure-button-primary' or ''} pure-u-md-7-24">@{_('New')}</a>
  </div>
</div>
@include('shared/sidebar/sub.html')
@end

@def main():

  @if func.getStickyPid:
    <div class="stickyposts">
      @for post in func.getStickies(sub['sid'], isSubMod=isSubMod):
        @if flair is None or post['flair'] == flair:
          @{ipost.singlePost(post, sub)!!html}
        @end
      @end
    </div>
  @end
  @if not page_info["posts"]:
    <h1 class="noshit">@{_('There are no posts here, yet.')}</h1>
  @end
  <div class="alldaposts">
    @for post in page_info["posts"]:
      @if not post['pid'] in func.getStickyPid(sub['sid']):
        @{ipost.singlePost(post, sub)!!html}
      @end
    @end
  </div>
  @if page_info["has_previous_page"]:
    <a href="@{url_for(route, sub=sub['name'], before=page_info['start_cursor'], flair=flair)}" class="pure-button">@{_('Previous page')}</a>
  @end
  @if page_info["has_next_page"]:
    <a href="@{url_for(route, sub=sub['name'], after=page_info['end_cursor'], flair=flair)}" class="pure-button">@{_('Next page')}</a>
  @end

@end

@def pagefoot():
@end
