@extends("errors/layout.html")
@def title():
Error 403 - Forbidden |\
@end

@def content():
  <div id="center-container">
    <div class="content">
      <h1>Error 403 - Authorized personnel only</h1>
      <p>
        This is not the resource you are looking for.
      </p>
    </div>
  </div>
@end
