@extends("errors/layout.html")

@def title():
Error 404 - Not found |\
@end

@def content():
  <div id="center-container">
    <div class="content">
      <h1>Error 404 - Not found</h1>
      <p>
        The resource you were looking for does not exist.
      </p>
    </div>
  </div>
@end
