@extends("errors/layout.html")

@def title():
  Internal error |\
@end

@def content():
  <div id="center-container">
    <div class="content">
      <h1>Internal error</h1>
      <p>
        We're experiencing technical difficulties, please try again later. If the error persists, report it to the administration.
      </p>
    </div>
  </div>
@end
