@extends("shared/layout.html")
@require(user, level, progress, postCount, commentCount, givenScore, invitecodeinfo, badges, owns, mods, habits, msgform, target_user_is_admin, ignform, name_history, block_dms, target_user_is_blocked)

@def title():
/u/@{user.name} |\
@end

@def sidebar():

    @if user.status != 10:
        @include('shared/sidebar/user.html')
        @if current_user.is_authenticated and current_user.uid != user.uid:
           <hr>
           <div class="pmessage">
               <a href="#msg-form" data-replyto='@{user.name}' class="@{'modpopmsg' if config.site.enable_modmail and len(owns + mods) > 0 else 'formpopmsg'} sbm-post pure-button">@{_('Send a message')}</a>
           </div>
            @if not target_user_is_admin and not current_user.can_admin:
                <div class="pmessage">
                  <a href="#block-form" data-replyto='@{user.uid}' class="blockpopmsg sbm-post pure-button">@{_('Block')}</a>
                </div>
            @end
        @end
    @end
@end
@def main():
    <div id="center-container">
        <div class="content">
            <div class="uprofile-top">
                <h1 style="margin-right: 0; margin-left:0" class="noshit@{' deleted-user' if user.status == 10 else ''}">@{user.name}</h1>
                @if user.status == 10:
                    <div>@{_("This user account has been deleted.")}</div>
                @end
                @if user.status != 10 or current_user.is_admin():
                    <p>@{_('Registered %(timeago)s', timeago='<relative-time datetime="'+ user.joindate.isoformat() + 'Z"></relative-time>')!!html}</p>
                    @if name_history:
                        <p>@{_('Previously known as ')}@{name_history}</p>
                    @end
                    <div class="pblock level">
                        <div class="uprofile-level-box">
                            <div class="mask left" style="transform: rotate(@{progress*1.8}deg)">
                                <div class="fill" style="transform: rotate(@{progress*1.8}deg)"></div>
                            </div>
                            <div class="mask right">
                                <div class="fill" style="transform: rotate(@{progress*1.8}deg)"></div>
                                <div class="fill fix" style="transform: rotate(@{progress*2.8}deg)"></div>
                            </div>
                            <div class="inset">
                                <div class="lv" style="line-height: 133%; padding-top: 0.4em">@{_('Level')}</div>
                                <div class="levelNo" style="@{level > 99 and 'font-size: 55px;' or ''}">@{level}</div>
                            </div>
                        </div>
                    </div>
                    <div class="pblock">
                        <div class="statdiv">
                            <div class="ucount"><a href="@{url_for('user.view_user_posts', user=user.name)}">@{postCount}</a></div>
                            <div>@{_('posts')}</div>
                        </div>
                        <div class="statdiv">
                            <div class="ucount"><a href="@{url_for('user.view_user_comments', user=user.name)}">@{commentCount}</a></div>
                            <div>@{_('comments')}</div>
                        </div>
                    </div>
                    <div class="pblock">
                        <div class="statdiv">
                            <abbr class="ucount" title="+@{givenScore[0]}, -@{givenScore[1]}}">@{givenScore[2]}</abbr>
                            <div>@{_('Phuks given')}</div>
                        </div>
                        <div class="statdiv">
                            <div class="ucount">@{user.score}</div>
                            <div>@{_('Total score')}</div>
                        </div>
                    </div>
                @end
            </div>
            @if user.status != 10 or current_user.is_admin():
                <div>
                    @if len(badges) > 0:
                        <div class="userrow">
                            <h2 style="text-align: center; margin-top: 2em;">@{_('Badges')}</h2>
                            <ul id="userBadges">
                                @for badge in badges:
                                <li data-badge="@{badge.bid}" class="profilebadge" title="@{badge.name} @{badge.alt != '' and ' - ' + badge.alt or ''}">
                                        <img src="@{badge.icon_url()}" />
                                    </li>
                                @end
                            </ul>
                        </div>
                    @end
                    <div class="userrow">
                        @if len(owns) > 0:
                            <div class="pblock">
                                <h3 style="text-align: center;">@{_('Owns')}</h3>
                                <ul>
                                    @for own in owns:
                                        <li><a href="@{url_for('sub.view_sub', sub=own)}">@{own}</a></li>
                                    @end
                                </ul>
                            </div>
                        @end
                        @if len(mods) > 0:
                            <div class="pblock">
                                <h3 style="text-align: center;">@{_('Mods')}</h3>
                                <ul>
                                    @for mod in mods:
                                        <li><a href="@{url_for('sub.view_sub', sub=mod)}">@{mod}</a></li>
                                    @end
                                </ul>
                            </div>
                        @end
                    </div>
                    @if len(habits) > 0:
                        <div class="userrow">
                            <div class="pblock">
                                <h3 style="text-align: center;">@{_('Posting habits')}</h3>
                                <ul>
                                    @for i in habits:
                                        <li class="habitentry"><a href="@{url_for('sub.view_sub', sub=i.name)}">@{i.name}</a> - @{i.count}</li>
                                    @end
                                </ul>
                            </div>
                        </div>
                    @end
                    <hr>
                    @if invitecodeinfo and ((current_user.uid == user.uid) or current_user.is_admin()):
                        <div class="userrow">
                            <h2 style="text-align: center; margin-top: 2em;">@{_('Invite Info')}</h2>
                            @if invitecodeinfo.get('invitedBy'):
                                <div>
                                    Invited by <a href="@{url_for('user.view', user=invitecodeinfo['invitedBy']['name'])}">@{invitecodeinfo['invitedBy']['name']}</a> with code @{invitecodeinfo['invitedBy']['code']}
                                </div>
                            @end
                            @if invitecodeinfo.get('invitedTo'):
                                <div>
                                    <h3>Invited Users:</h3>
                                    <table>
                                        <thead><tr><th>User</th><th>Code</th></tr></thead>
                                        <tbody>
                                        @for invited in invitecodeinfo['invitedTo']:
                                            <tr>
                                            <td><a href="@{url_for('user.view', user=invited['name'])}">@{invited['name']}</a></td><td>@{invited['code']}</td></tr>
                                        @end
                                        </tbody>
                                    </table>
                                    </ul>
                                </div>
                            @end
                        </div>
                    @end
                </div>

                @if config.site.enable_modmail and len(owns + mods) > 0:
                <div id="modpop" style="display:none;">
                    <div class="modal-content">
                        <span class="closepopmsg">&times;</span>
                        <h3>@{_('Send a message')}</h3>
                        <p>@{_('Please send all circle-related messages to the moderators of that circle.')}</p>
                        <div>
                            <ul>
                                @for mod in sorted(owns + mods, key=str.lower):
                                    <li><a href="/@{config.site.sub_prefix}/@{mod}/contact_mods">@{_('Contact the mods of %(mod)s', mod=mod)}</a></li>
                                @end
                                @if target_user_is_admin or current_user.can_pm_users() or current_user.is_admin():
                                    <li><a href="#msg-form" class="formpopmsg" data-replyto="@{user.name}">@{_('Send a direct message to %(name)s', name=user.name)}</a></li>
                                @end
                            </ul>
                        </div>
                    </div>
                </div>
                @end

                <div id="formpop" style="display:none;">
                    <div class="modal-content">
                      <span class="closepopmsg">&times;</span>
                        @if not (current_user.can_pm_users() or target_user_is_admin):
                          <div>
                            <h3>Direct messages disabled for new users</h3>
                            <p class="helper-text">@{_("Your level is too low to send direct messages.  Contribute posts and comments to raise your score and enable this feature.")}</p>
                          </div>
                        @elif "block_dms" in current_user.prefs and not target_user_is_admin:
                          <div>
                            <h3>You have blocked direct messages</h3>
                            <p class="helper-text">@{_("You have blocked direct messages.  You can unblock them in your %(preferences)s.", preferences='<a href="/settings">'+_('Preferences')+'</a>')!!html}</p>
                          </div>
                        @elif block_dms:
                          <div>
                            <h3>Direct messages blocked</h3>
                            <p class="helper-text">@{_("This user has chosen to block direct messages.  You cannot send them a message.")}</p>
                          </div>
                        @elif target_user_is_blocked:
                          <div>
                            <h3>Direct messages blocked</h3>
                            <p class="helper-text">@{_("You have blocked direct messages with this user.")}</p>
                          </div>
                        @else:
                          <form data-reset="true" id="msg-form" action="@{url_for('do.create_sendmsg')}" data-redir="@{url_for('messages.inbox_sort')}" class="pure-form pure-form-aligned ajaxform">
                              @{msgform.csrf_token()!!html}
                              <h3>@{_('Send message')}</h3>
                              <fieldset>
                                  <div id="lto" class="pure-control-group" style="display:none">
                                      <label for="to">@{_('User')}</label>
                                      @{msgform.to(placeholder=msgform.to.label.text, required=True, value=user.name)!!html}
                                  </div>
                                  <div>
                                      <label for="subject">@{_('Subject')}</label>
                                      @{msgform.subject(placeholder=msgform.subject.label.text, required=True)!!html}
                                  </div>
                                  <div class="pure-control-group markdown-editor" id="msge">
                                    @{msgform.content(placeholder=_('Styling with Markdown format is supported.'), rows="10", id="cntnt")!!html}
                                  </div>
                                  <div>
                                    <button type="submit" id="msg-btnsubmit" class="pure-button pure-button-primary" data-prog="@{_('Sending...')}">@{_('Send Message')}</button>
                                    <button data-pvid="msge" class="pure-button btn-preview">@{_('Preview')}</button>
                                    <div class="cmpreview canclose" style="display:none;">
                                      <h4>@{_('Message preview')}</h4>
                                      <span class="closemsg">×</span>
                                      <div class="cpreview-content"></div>
                                    </div>
                                  </div>
                              </fieldset>
                          </form>
                        @end
                    </div>
                </div>
                <div id="blockpop" style="display:none;">
                    <div class="modal-content">
                        <span class="closepopmsg">&times;</span>
                        <h3>@{_('Block %(user)s', user=user.name)}</h3>
                        @if current_user.is_a_mod:
                          <p class="helper-text">@{_('Posts and comments from blocked users will be shown normally in the subs which you moderate, and if you block someone who is a moderator, the content they post in the subs which they moderate will always be shown.')}</p>
                        @elif len(owns + mods) > 0:
                          <p class="helper-text">@{_('Posts and comments by %(user)s will be shown normally in the subs which they moderate.', user=user.name)}</p>
                        @end
                        <p class="helper-text">@{_('Blocking other users does not prevent them from seeing the content that you post.')}</p>
                        <form id="ignore_form" method="POST" data-reload="true" action="@{url_for('do.edit_ignore', uid=user.uid)}" class="pure-form pure-form-stacked ajaxform ignore-form">
                          @{ignform.csrf_token()!!html}
                          @if "block_dms" not in current_user.prefs:
                            @{ignform.view_messages(id='ign-msg-' + user.uid, class_='ignore-form-select')!!html}
                          @end
                          @{ignform.view_content(id='ign-con-' + user.uid, class_='ignore-form-select')!!html}
                           <button id="submit-ignore-@{user.uid}" type="submit" class="hide pure-button button-xsmall" data-label="@{_('Save changes')}" data-prog="@{_('Saving...')}" data-success="@{_('Saved!')}">@{_('Save changes')}</button>
                           <div class="alert div-error"></div>
                        </form>
                    </div>
                </div>
            @end
        </div>
    </div>
@end
