@extends("shared/layout.html")
@require(sub, banned, xbans, banuserform, submods)

@import 'shared/sidebar/sub_mod.html' as sb
@def sidebar():
@#
@if current_user.is_mod(sub.sid, 2):
  @{sb.render_sidebar('bans', sub=sub.name)!!html}
@end
@end


@def main():
<div id="container" class="mod-container">
  <div class="content mw-75">
    @if not current_user.is_mod(sub.sid, 2) and current_user.is_admin():
    <h3>@{_('Editing as Admin')}</h3>
    @end

    <h2>@{_('Banned users on <a href="%(link)s">/%(prefix)s/%(sub)s</a>', prefix=config.site.sub_prefix, sub=sub.name, link=url_for('sub.view_sub', sub=sub.name))!!html}</h2>
    @if current_user.is_admin() or current_user.is_mod(sub.sid, 2):
    <h3>@{_('Ban user')}</h3>
    <div class="editmoderators">
      <form id="ban-user-form" data-reload="true" data-sub="@{sub.name}" class="ajaxform pure-form"
            action="@{url_for('do.ban_user_sub', sub=sub.name)}">
        @{banuserform.csrf_token()!!html}
        <p>
          <label>@{banuserform.user(placeholder=banuserform.user.label.text, required=True)!!html}</label>
          @{banuserform.reason(placeholder=banuserform.reason.label.text, required=True)!!html}
          @if current_user.uid in submods['janitors']:
          @{_('Until...')}\
          @else:
          <select id="ban_timepick">
            <option value="ban_perm">@{_('Forever')}</option>
            <option value="ban_temp">@{_('Until...')}</option>
          </select>
          @end
          <input id="ban_expires" name="expires" type="text" class="date-picker-future" @{(current_user.uid in submods['janitors'])
          and 'style="display: inline-block;"' or 'style="display: none;"'} placeholder="@{_('Pick date')}">
          <div><button type="submit" class="pure-button pure-button-primary" id="banuser-btnsubmit">@{_('Ban')}</button></div>
        </p>
        <div class="alert div-error"></div>
      </form>
    </div>
    <hr/>
    @end

    <div class="col-12">
      <h3>@{_('Banned users')}</h3>
      @if banned.count() < 1:
      @{_('none')}
      @else:
      <ol class="mod-table">
        <li class="mod-table-header pure-g">
          <div class="header pure-u-1 pure-u-md-3-24">@{_('By')}</div>
          <div class="header pure-u-1 pure-u-md-4-24">@{_('Created')}</div>
          <div class="header pure-u-1 pure-u-md-4-24">@{_('User')}</div>
          <div class="header pure-u-1 pure-u-md-5-24">@{_('Reason')}</div>
          <div class="header pure-u-1 pure-u-md-4-24">@{_('Expires')}</div>
          @if current_user.is_admin() or current_user.is_mod(sub.sid, 2):
          <div class="header pure-u-1 pure-u-md-4-24">@{_('Actions')}</div>
          @end
        </li>
        @for ban in banned:
        <li class="mod-table-row pure-g">
          <div data-name="@{_('By:')}" class="elem pure-u-1 pure-u-md-3-24">
            @if ban.created_by_id:
            <a href="@{url_for('user.view', user=ban.created_by.name)}">@{ban.created_by.name}</a> \
            @else:
            @{_('N/A')} \
            @end
          </div>
          <div data-name="@{_('Created:')}" class="elem pure-u-1 pure-u-md-4-24">
            @if ban.created:
            <relative-time datetime="@{ban.created.isoformat()}Z" prefix="">@{ban.created.isoformat()}</relative-time>
            \
            @else:
            @{_('N/A')}\
            @end
          </div>
          <div data-name="@{_('User:')}" class="elem pure-u-1 pure-u-md-4-24">
            <a href="@{url_for('user.view', user=ban.user.name)}">@{ban.user.name}</a>
          </div>
          <div data-name="@{_('Reason:')}" class="elem pure-u-1 pure-u-md-5-24">@{ban.reason}</div>
          <div data-name="@{_('Expires:')}" class="elem pure-u-1 pure-u-md-4-24">
            @if ban.expires:
            <relative-time datetime="@{ban.expires.isoformat()}Z" prefix="">@{ban.expires.isoformat()}</relative-time> \
            @else:
            @{_('Never')}\
            @end
          </div>
          <div data-name="@{_('Actions:')}" class="close-elem pure-u-1 pure-u-md-4-24">
            @if (current_user.uid in submods['janitors'] and ban.created_by.uid == current_user.uid) or current_user.is_mod(sub.sid, 1):
            <a data-sub="@{sub.name}" data-user="@{ban.user.name}" class="slink revoke-ban">@{_('unban')}</a>
            @else:
            @{_('N/A')}
            @end
          </div>
          <div data-name="@{_('Actions:')}" class="close-button pure-u-1 pure-u-md-4-24">
            @if (current_user.uid in submods['janitors'] and ban.created_by.uid == current_user.uid) or current_user.is_mod(sub.sid, 1):
            <a data-sub="@{sub.name}" data-user="@{ban.user.name}" class="pure-button revoke-ban">@{_('unban')}</a>
            @end
          </div>
        </li>
        @end
      </ol>
      @end
    </div>
    <hr>
    <div class="col-12">
      <h3>@{_('Past bans')}</h3>
      @if xbans.count() < 1:
      none\
      @else:
      <ol class="mod-table">
        <li class="mod-table-header pure-g">
          <div class="header pure-u-1 pure-u-md-3-24">@{_('By')}</div>
          <div class="header pure-u-1 pure-u-md-4-24">@{_('Created')}</div>
          <div class="header pure-u-1 pure-u-md-4-24">@{_('User')}</div>
          <div class="header pure-u-1 pure-u-md-9-24">@{_('Reason')}</div>
          <div class="header pure-u-1 pure-u-md-4-24">@{_('Removed')}</div>
        </li>
        @for ban in xbans:
        <li class="mod-table-row pure-g">
          <div data-name="@{_('By:')}" class="elem pure-u-1 pure-u-md-3-24">
            @if ban.created_by_id:
            <a href="@{url_for('user.view', user=ban.created_by.name)}">@{ban.created_by.name}</a>
            @else:
            @{_('N/A')} \
            @end
          </div>
          <div data-name="@{_('Created:')}" class="elem pure-u-1 pure-u-md-4-24">
            @if ban.created:
            <relative-time datetime="@{ban.created.isoformat()}Z" prefix="">@{ban.created.isoformat()}</relative-time>
            \
            @else:
            @{_('N/A')}\
            @end
          </div>
          <div data-name="@{_('User:')}" class="elem pure-u-1 pure-u-md-4-24"><a href="@{url_for('user.view', user=ban.user.name)}">@{ban.user.name}</a></div>
          <div data-name="@{_('Reason:')}" class="elem pure-u-1 pure-u-md-9-24">@{ban.reason}</div>
          <div data-name="@{_('Removed:')}" class="last-elem pure-u-1 pure-u-md-4-24">
            @if ban.expires:
            <relative-time datetime="@{ban.expires.isoformat()}Z" prefix="">@{ban.expires.isoformat()}</relative-time>
            \
            @else:
            @{_('N/A')} \
            @end
          </div>
        </li>
        @end
      </ol>
      @end
      </ul>
    </div>
  </div>
</div>
@end
