@extends("shared/layout.html")
@require(sub, logs, page, subInfo, subMods)

@def sidebar():
@include('shared/sidebar/sub.html')
@end

@def main():
<div id="container" class="mod-container">
  <div class="content">
    <h2>@{_('Sub log for <a href="%(url)s">/%(prefix)s/%(sub)s</a>', url=url_for('sub.view_sub', sub=sub['name']), prefix=config.site.sub_prefix, sub=sub['name'])!!html}</h2>
    <ol class="mod-table">
      <li class="mod-table-header pure-g">
        <div class="header pure-u-1 pure-u-md-3-24">@{_('Time')}</div>
        <div class="header pure-u-1 pure-u-md-4-24">@{_('Moderator')}</div>
        <div class="header pure-u-1 pure-u-md-11-24">@{_('Action')}</div>
        <div class="header pure-u-1 pure-u-md-4-24">@{_('User')}</div>
        <div class="header pure-u-1 pure-u-md-2-24"></div>
      </li>
      @for log in logs:
      <li class="mod-table-row pure-g">
        <div data-name="@{_('Time:')}" class="elem sub pure-u-1 pure-u-md-3-24">
          <relative-time datetime="@{log.time.isoformat()}Z" prefix="">@{log.time.isoformat()}</relative-time>
        </div>
        <div data-name="@{_('Moderator:')}" class="elem sub pure-u-1 pure-u-md-4-24">
          @if log.uid:
          @if log.uid.status != 10:
          <a href="/u/@{log.uid.name}">@{log.uid.name}</a>\
          @else:
          @{_('[Deleted]')}
          @end
          @end
        </div>
        <div data-name="@{_('Action:')}" class="elem sub pure-u-1 pure-u-md-11-24">
          @if log.action == 20:
            @{_('Created the sub')}
          @elif log.action == 21:
            @{_('Changed sub settings')}
          @elif log.action == 22:
            @if log.link:
              @{_('Temporarily banned <a href="/u/%(username)s">%(username)s</a> %(days)s with reason <code>%(reason)s</code>', username=log.target.name, days=_('for 1 day') if log.link == '1' else _('for %(num)s days', num=log.link), reason=e(log.desc))!!html}
            @else:
              @{_('Banned <a href="/u/%(username)s">%(username)s</a> with reason <code>%(reason)s</code>', username=log.target.name, reason=e(log.desc))!!html}
            @end
          @elif log.action == 23:
            @{_('Unbanned <a href="/u/%(username)s">%(username)s</a>', username=log.target.name)!!html}
          @elif log.action == 24:
            @{_('Sent mod invite to <a href="/u/%(username)s">%(username)s</a>', username=log.target.name)!!html}
          @elif log.action == 25:
            @{_('Accepted mod invite')}
          @elif log.action == 26:
            @{_('Removed <a href="/u/%(username)s">%(username)s</a> from the mod team', username=log.target.name)!!html}
          @elif log.action == 27:
            @{_('Revoked mod invite for <a href="/u/%(username)s">%(username)s</a>', username=log.target.name)!!html}
          @elif log.action == 28:
            @{_('Mod invite declined by <a href="/u/%(username)s">%(username)s</a>', username=log.target.name)!!html}
          @elif log.action == 29:
            @{_('Edited the sub\'s stylesheet')}
          @elif log.action == 30:
            @{_('Sub was transferred to <a href="/u/%(username)s">%(username)s</a>', username=e(log.desc))!!html}
          @elif log.action == 50:
            @{_('Stickied a post')}
          @elif log.action == 51:
            @{_('Unstickied a post')}
          @elif log.action == 52:
            @{_('Deleted a post with reason <code>%(desc)s</code>', desc=e(log.desc))!!html}
          @elif log.action == 58:
            @{_('Un-deleted a post with reason <code>%(desc)s</code>', desc=e(log.desc))!!html}
          @elif log.action == 53:
            @{_('Deleted a comment with reason <code>%(desc)s</code>', desc=e(log.desc))!!html}
          @elif log.action == 59:
            @{_('Un-deleted a comment with reason <code>%(desc)s</code>', desc=e(log.desc))!!html}
          @elif log.action == 73 or log.action == 74:
            @{_('Changed the comment sort order of a sticky post')}
          @elif log.action == 76 and log.desc == "1":
              @{_('Locked comments on a post')}
          @elif log.action == 76:
              @{_('Unlocked comments on a post')}
          @elif log.action == 1004:
              @{_('Edited a post title with reason <code>%(desc)s</code>', desc=e(log.desc))!!html}
          @elif log.action == 1005:
              @{_('Changed settings for %(desc)s posts', desc=log.desc)}
          @else:
            <i>@{_('[Type %(type)i]', type=log.action)!!html}</i> @{log.desc}
          @end
        </div>
        <div data-name="@{_('User:')}" class="elem sub pure-u-1 pure-u-md-4-24">
          @if log.action in [22, 23, 24, 26, 27, 28, 52, 53, 58, 59, 76, 1004] and log.target is not None:
          <a href="/u/@{log.target.name}">@{log.target.name}</a>
              @end
        </div>
        <div data-name="" class="last-elem sub pure-u-1 pure-u-md-2-24">
          @if log.link and log.action != 22:
          <a href="@{log.link}">@{_('Link')}</a> \
          @else:
          &nbsp;
          @end
        </div>
      </li>
      @end
    </ol>
      @if page > 1:
      <a href="@{url_for('sub.view_sublog', sub=sub['name'], page=(page-1))}" class="btn">@{_('Previous page')}</a>
      @end

      @if len(logs) == 50:
      <a href="@{url_for('sub.view_sublog', sub=sub['name'], page=(page+1))}" class="btn">@{_('Next page')}</a>
      @end
    </div>
</div>
@end
