@extends("shared/layout.html")
@require(sub, editsubform, metadata)

@import 'shared/sidebar/sub_mod.html' as sb
@def sidebar():
  @{sb.render_sidebar('settings', sub=sub.name)!!html}
@end

@def main():
  @#
  @if not current_user.is_mod(sub.sid, 1) and current_user.is_admin():
    <div class="important"><h3>@{_('Editing as Admin')}</h3></div>
  @end
<div id="center-container">
  <div class="content mw-75">
    <h1>@{_('Editing settings of <a href="%(url)s">%(sub)s</a>', url=url_for('sub.view_sub', sub=sub.name), sub=config.site.sub_prefix + "/" + sub.name)!!html} </h1>
    <form data-redir="true"  method="POST" id="edit-sub-form" action="@{url_for('do.edit_sub', sub=sub.name)}" class="pure-form ajaxform">
      @{editsubform.csrf_token()!!html}
      <fieldset>
        <div class="pure-control-group">
          <label for="title">@{editsubform.title.label.text}</label>
          @{editsubform.title(required=True, class_="pure-u-12-24")!!html}
        </div>

        <div class="pure-control-group">
          <label for="nsfw" class="pure-checkbox">
            @{editsubform.nsfw(checked=True if sub.nsfw else False)!!html}
            @{editsubform.nsfw.label.text}
          </label>
        </div>

        <div class="pure-control-group">
          <label for="restricted" class="pure-checkbox">
            @{editsubform.restricted(checked=True if metadata.get('restricted') else False)!!html}
            @{editsubform.restricted.label.text}
          </label>
        </div>

        @if not config.site.force_sublog_public:
          <div class="pure-control-group">
            <label for="sublogprivate" class="pure-checkbox">
              @{editsubform.sublogprivate(checked=True if metadata.get('sublog_private') else False)!!html}
              @{editsubform.sublogprivate.label.text}
            </label>
          </div>

          <div class="pure-control-group">
            <label for="subbannedusersprivate" class="pure-checkbox">
              @{editsubform.subbannedusersprivate(checked=True if metadata.get('sub_banned_users_private') else False)!!html}
              @{editsubform.subbannedusersprivate.label.text}
            </label>
          </div>
        @end

        <h4>Post flairs</h4>
        <div class="pure-control-group">
          <label for="usercanflair" class="pure-checkbox">
            @{editsubform.usercanflair(checked=True if metadata.get('ucf') else False)!!html}
            @{editsubform.usercanflair.label.text}
          </label>
        </div>

        <div class="pure-control-group">
          <label for="usermustflair" class="pure-checkbox">
            @{editsubform.usermustflair(checked=True if metadata.get('umf') else False)!!html}
            @{editsubform.usermustflair.label.text}
          </label>
        </div>

        <h4>User flairs</h4>
        <div class="pure-control-group">
          <label for="user_can_flair_self" class="pure-checkbox">
            @{editsubform.user_can_flair_self(checked=True if metadata.get('user_can_flair_self') else False)!!html}
            @{editsubform.user_can_flair_self.label.text}
          </label>
        </div>

        <div class="pure-control-group">
          <label for="freeform_user_flairs" class="pure-checkbox">
            @{editsubform.freeform_user_flairs(checked=True if metadata.get('freeform_user_flairs') else False)!!html}
            @{editsubform.freeform_user_flairs.label.text}
          </label>
        </div>

        <h4>@{_('Default post sort')}</h4>
        @for kl in editsubform.subsort:
          <div class="pure-control-group">
            <label for="@{kl.id}" class="pure-radio">
              @{kl(checked=True if editsubform.subsort.data==kl.name else False)!!html}
              @{kl.label.text}
            </label>
          </div>
        @end
        <hr/>
        <h4>@{_('Sidebar text')}</h4>
        <div class="pure-control-group">
          <div class="markdown-editor cwrap">
            @{editsubform.sidebar(class_="cwrap", placeholder=_("Sidebar text. Markdown allowed."), rows="10")!!html}
          </div>
        </div>
      </fieldset>

      <div class="alert div-error"></div>
      <p>
      <button type="submit" class="pure-button pure-button-primary" id="editsub-btnsubmit" data-prog="@{_('Saving...')}" data-success="@{_('Saved!')}">@{_('Save changes')}</button></p>

    </form>

  </div>
</div>
@end
