x{% extends "layout.html" %}
{% block title %}Admin - {{config.site.lema}}{% endblock %}

{% block sidebar %}
{{ super() }}
{% include 'admin/sidebar.html' %}
{% endblock %}

{% block content %}
{{ super() }}
<div id="center-container">
  <div class="content">
    {% if not config.site.enable_posting %}
      <div class="error" style="margin-top: 2em;">Posting has been temporarily disabled</div>
    {% endif %}
    {% if not config.site.enable_registration %}
      <div class="error" style="margin-top: 2em;">Registration has been temporarily disabled</div>
    {% endif %}
    <h1>Admin</h1>
    <hr>
    <div class="admin section">
        <div class="col-12 admin-page-form">
          <h2>Announcements</h2>
          {% set ann = func.getAnnouncement() %}
          {%if not ann %}<h4>No active announcements</h4>
          {%else%}
          <div class="post">
            <form method="POST" id="deleteannouncement" action="{{ url_for('do.deleteannouncement') }}">
              {{ csrf_form.csrf_token() }}
              <p><a href="{{url_for('site.view_post_inbox', pid=ann.pid)}}">{{ann.title}}</a> by {{ann.user}}, <relative-time datetime="{{ann.posted.isoformat()}}Z"></relative-time></p>
              <input id="deleteannouncement-button" type="submit" value="Remove" class="pure-button">
            </form>
          </div>

          {%endif%}
      </div>
    </div>
    <hr>
    <div class="admin section emergencymode">
      <div class="col-12"><h2>Emergency Mode</h2>
      </div>
      <div class="col-12 admin-page-form">
        <div>
          {% if config.site.enable_posting %}
          <form method="POST" id="disableposting" action="{{ url_for('do.enable_posting') }}">
            {{ csrf_form.csrf_token() }}
            <input type="hidden" name="value" value="False">
            <div><label for="disableposting-button">Disable posting for non-admin users</label></div>
            <input type="submit" id="disableposting-button" class="pure-button button-warning" value="Disable Posting">
          </form>
          {% else %}
          <form method="POST" id="enableposting" action="{{ url_for('do.enable_posting') }}">
            {{ csrf_form.csrf_token() }}
            <input type="hidden" name="value" value="True">
            <div><label for="enableposting-button">Enable posting for non-admin users</label></div>
            <input type="submit" id="enableposting-button" class="pure-button button-error" value="Enable Posting">
          </form>
          {% endif %}
        </div>
      </div>
      <hr>
      <div class="col-12"><h2>Isolation Mode</h2>
      </div>
      <div class="col-12 admin-page-form">
        <div>
          {% if config.site.enable_registration %}
          <form method="POST" id="disableregistration" action="{{ url_for('do.enable_registration') }}">
            {{ csrf_form.csrf_token() }}
            <input type="hidden" name="value" value="False">
            <div><label for="disableregistration-button">Disable registration for new users</label></div>
            <input type="submit" id="disableregistration-button" class="pure-button button-warning" value="Disable Registration">
          </form>
          {% else %}
          <form method="POST" id="enableregistration" action="{{ url_for('do.enable_registration') }}">
            {{ csrf_form.csrf_token() }}
            <input type="hidden" name="value" value="True">
            <div><label for="enableregistration-button">Enable registration for new users</label></div>
            <input type="submit" id="enableregistration-button" class="pure-button button-error" value="Enable Registration">
          </form>
          {% endif %}
        </div>
      </div>
      <hr>
    </div>
    <hr/>
    <h2>Sub of the Day</h2>
    <p>
      Current: <a href="{{ url_for('sub.view_sub', sub=func.getSubOfTheDay().name) }}">/{{ config.site.sub_prefix }}/{{ func.getSubOfTheDay().name }}</a>
    </p>
    <form method="POST" data-reload="true" action="{{url_for('do.set_suboftheday')}}" class="inline pure-form pure-form-aligned ajaxform">
      {{subOfTheDay.csrf_token()}}
      Edit:
      {{ subOfTheDay.sub(required=True, autocomplete="off") }}
      <button type="submit" class="pure-button pure-button-primary">Change</button>
    </form>
    <form method="POST" data-reload="true" action="{{url_for('do.delete_suboftheday')}}" class="inline pure-form ajaxform">
      <button type="submit" class="pure-button ">Randomize</button>
    </form>

  </div>
</div>

{% endblock %}
