{% extends "layout.html" %}
{% block title %}Admin - {{config.site.lema}}{% endblock %}

{% block head %}
{{ super() }}
<script src="{{url_for('static', filename='sorttable.js')}}"></script>
{% endblock %}

{% block sidebar %}
{{ super() }}
{% include 'admin/sidebar.html' %}
{% endblock %}

{% block content %}
{{ super() }}
<div id="center-container">
  <div class="content">

    <div class="col-12 admin section users">
      <h2><i class="fa fa-list"></i> Post: <a href="{{url_for('site.view_post_inbox', pid=post.pid)}}">{{post.title}}</a></h2>
      <div>
        <div>NSFW: {% if post.nsfw %}<span class="bgred" alt="Not safe for work">NSFW</span>{% else %}no{% endif %}</div>
        <div>When: <i class="fa fa-clock-o" aria-hidden="true"></i> Posted <relative-time datetime="{{post.posted.isoformat()}}Z"></relative-time></div>
        <div>Sub: <a href="{{url_for('sub.view_sub', sub=sub.name)}}">{{sub.name}}</a></div>
      </div>
    </div>
    <div class="col-12 admin section users">
      <h2>User: <a href="{{url_for('user.view', user=user.name)}}">{{user.name}}</a></h2>
      <div class="col-11">Posts: {{pcount}}</div>
      <div class="col-11">Comments: {{ccount}}</div>
      <div class="col-11">Registered: <relative-time datetime="{{user.joindate.isoformat()}}Z" prefix=""></relative-time></div>
      <div class="col-11">Level: {{func.get_user_level(user.uid)[0]}}</div>
    </div>
    <div class="col-12 admin section users">
      <h2><i class="fa fa-expand"></i> Votes: ( +{{upcount}} | -{{downcount}} )</h2>
      <div class="col-12">
        <table class="pure-table sortable">
          <thead>
            <tr>
              <th>vote</th>
              <th>user</th>
              <th>datetime</th>
            </tr>
          </thead>
          <tbody>
            {% for vote in votes %}
            <tr>
              <td>{% if vote.positive %}<span class="upvoted">up</span>{% else %}<span class="downvoted">down</span>{% endif %}</td>
              <td><a href="{{url_for('user.view', user=vote.name)}}">{{vote.name}}</a></td>
              <td>{{vote.datetime}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-12 admin section users">
      <h2><i class="fa fa-comments"></i> Comments: {{comms | length}}</h2>
      <div>
        <table class="pure-table sortable">
          <thead>
            <tr>
              <th>score</th>
              <th>user</th>
              <th>comment</th>
              <th>direct link</th>
            </tr>
          </thead>
          <tbody>
            {% for comment in comms if not comment.status %}
            <tr>
              <td>{{comment.score}}</td>
              <td>
                <a href="{{ url_for('user.view', user=comment.name) }}" class="poster">{{comment.name}}</a>
              </td>
              <td>{{comment.content}}</td>
              <td><a href="{{url_for('sub.view_perm', sub=sub.name, cid=comment.cid, pid=post.pid)}}">direct link</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div>
        <h4>Deleted comments:</h4>
        <table class="pure-table sortable">
          <thead>
            <tr>
              <th>score</th>
              <th>user</th>
              <th>comment</th>
              <th>direct link</th>
            </tr>
          </thead>
          <tbody>
            {% for comment in comms if comment.status %}
            <tr>
              <td>{{comment.score}}</td>
              <td>
                <a href="{{ url_for('user.view', user=comment.name) }}" class="poster">
                {{comment.name}}</a>
              </td>
              <td>{{comment.content}}</td>
              <td><a href="{{url_for('sub.view_perm', sub=sub.name, cid=comment.cid, pid=post.pid)}}">direct link</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

</div>
</div>
{% endblock %}
