{% extends "layout.html" %}
{% block title %}{{config.site.lema}}{% endblock %}
{% block head %}
{{ super() }}
<script src="{{url_for('static', filename='sorttable.js')}}"></script>
{% endblock %}
{% block navbar %}
{{ super() }}
<li><a href="{{url_for('admin.index')}}">Admin</a></li>
{% endblock %}
{% block sidebar %}
{{ super() }}
<div class="col-12 admin section search">
  <form action="{{ url_for('do.search', stype='admin.post') }}" method="post">
  <span class="search">
      <span><i class="fa fa-search"></i></span>
      <input id="term" name="term" type="search" placeholder="Post number...">
      <span>
        <button class="pure-button" type="submit">Submit</button>
      </span>
  </span>
  </form>
</div>
<hr>
{% include 'admin/sidebar.html' %}
{% endblock %}

{% block content %}
{{ super() }}

<div id="center-container">
  <div class="content">
    <h2>Posts</h2>
    <div class="admin section subs posts">
      <div>
        {% if admin_route == 'admin.post_search' %}
          <div>Showing results for: {{term}}</div>
        {% endif %}
        <table class="sortable pure-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>+</th>
              <th>Title</th>
              <th>User</th>
              <th>Sub</th>
              <th>Del</th>
            </tr>
          </thead>
          <tbody>
            {% for post in page_info.posts %}
              <tr class="{% if post.deleted != 0 %}deletedrow{% endif %}">
                <td><a href="{{url_for('admin.post_search', term=post.pid)}}">{{post.pid}}</a></td>
                <td>{{post.score}}</td>
                <td><a href="{{url_for('site.view_post_inbox', pid=post.pid)}}">{{post.title|truncate(30, True)}}</a></td>
                <td><a href="{{url_for('user.view', user=post.user)}}">{{post.user}}</a></td>
                <td><a href="{{url_for('sub.view_sub', sub=post.sub)}}">{{post.sub}}</a></td>
                <td>{% if post.deleted == 1 %}user{% elif post.deleted == 2 %}mod{% elif post.deleted == 3%}admin{% endif %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


{% if admin_route == 'admin.posts' %}
    <div class="adminpagenav">
      {% if page_info.has_previous_page %}
      <a href="{{url_for(admin_route, before=page_info.start_cursor)}}" class="pure-button">prev</a>
      {% endif %}
      {% if page_info.has_next_page %}
      <a href="{{url_for(admin_route, after=page_info.end_cursor)}}" class="pure-button">next</a>
      {% endif %}
    </div>
{% endif %}

  </div>
</div>
{% endblock %}
