<a href="{{url_for('admin.index')}}" class="sbm-post pure-button">Admin</a>
<hr>
<a href="{{url_for('admin.view')}}" class="sbm-post pure-button">Admins</a>
<a href="{{url_for('admin.users')}}" class="sbm-post pure-button">Users</a>
<a href="{{url_for('admin.userbadges')}}" class="sbm-post pure-button">User Badges</a>
<a href="{{url_for('admin.invitecodes')}}" class="sbm-post pure-button">Invite Codes</a>
<hr>
<a href="{{url_for('admin.subs')}}" class="sbm-post pure-button">Subs</a>
<a href="{{url_for('admin.posts')}}" class="sbm-post pure-button">Posts</a>
<a href="{{url_for('admin.reports')}}" class="sbm-post pure-button">Reports</a>
<hr>
<a href="{{url_for('admin.user_uploads')}}" class="sbm-post pure-button">Uploads</a>
<a href="{{url_for('admin.wiki')}}" class="sbm-post pure-button">Wiki</a>
<a href="{{url_for('admin.domains', domain_type='link')}}" class="sbm-post pure-button">Banned Domains</a>
<a href="{{url_for('admin.domains', domain_type='email')}}" class="sbm-post pure-button">Banned Email Domains</a>
<a href="/admin/banned_user_names" class="sbm-post pure-button">Banned User Names</a>
<hr>
<a href="{{url_for('admin.configure')}}" class="sbm-post pure-button">Site Configuration</a>
<a href="/admin/stats" class="sbm-post pure-button">Site Statistics</a>
<a href="{{url_for('site.view_sitelog')}}" class="sbm-post pure-button">Sitelog</a>
