{% extends "layout.html" %}
{% block title %}Admin - {{config.site.lema}}{% endblock %}

{% block head %}
{{ super() }}
<script src="{{url_for('static', filename='sorttable.js')}}"></script>
{% endblock %}

{% block sidebar %}
{{ super() }}
<div class="col-12 admin section search">
  <form action="{{ url_for('do.search', stype='admin.users') }}" method="post">
  <span class="search">
      <span><i class="fa fa-search"></i></span>
      <input id="term" name="term" type="search" placeholder="Search Users...">
      <span>
        <button class="pure-button" type="submit">Submit</button>
      </span>
  </span>
  </form>
</div>
<hr>
{% include 'admin/sidebar.html' %}
{% endblock %}

{% block content %}
{{ super() }}
<div id="center-container">
  <div class="content">

    <h2>{% if admin_route == 'admin.view' %}Admins{% else %}Users{% endif %}</h2>
    <div class="admin section users">
      <div class="col-12">
        {% if admin_route == 'admin.users_search' %}
          <div>Showing results for: {{term}}</div>
        {% endif %}
        <table class="sortable pure-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Posts</th>
              <th>Comments</th>
              <th>Votes</th>
              <th>Level</th>
              <th>XP</th>
              <th>Status</th>
              <th>Joined</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              <tr>
                <td>
                  <div class="username"><a href="{{url_for('user.view', user=user.name)}}">{{user.name}}</a></div>
                </td>
                <td><a href="{{url_for('user.view_user_posts', user=user.name)}}">{%if user.post_count%}{{user.post_count}}{%else%}0{%endif%}</a></td>
                <td><a href="{{url_for('user.view_user_comments', user=user.name)}}">{%if user.comment_count%}{{user.comment_count}}{%else%}0{%endif%}</a></td>
                <td><a href="/admin/voting/{{user.name}}">+{{user.upvotes_given}}/-{{user.downvotes_given}}</a></td>
                <td>{{func.get_user_level(user.uid)[0]}}</td>
                <td>{{func.get_user_level(user.uid)[1]}}</td>
                <td>{{user.status}}</td>
                <td>{{user.joindate.isoformat()}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

{% if admin_route == 'admin.users'  %}
  {% set items = users %}
  {% include 'admin/nav.html' %}
{% endif %}

  </div>
</div>
{% endblock %}
