{% extends "layout.html" %}
{% block title %}My messages | {{config.site.lema}}{% endblock %}

{% block navbar %}
{% endblock %}

{% block sidebar %}
{{ super() }}
{% include 'messages/sidebar.html' %}
{% endblock %}

{% block content %}
{{ super() }}
<div id="center-container">
  <div class="inbox content">
    <div class="user-activity col-12">
      <h3 style="display: inline-block;"><span class="p-icon" data-icon="mail" style="display: inline-block;"></span> {{box_name}}</h3>
      - <span class="links"><a class="markall">Mark all as read</a></span>
      {% for message in page_info.messages %}
        <article class="pmessage post{% if not message.read %} newmsg{% endif %}">
          <div class="main">
            <p class="title">{{message.subject}}</p>
            <p class="container">{{markdown(message.content)|safe}}</p>
            <p class="author">&#10148;
              Sent <relative-time datetime="{{message.posted.isoformat()}}Z"></relative-time>
              {% if message.username %}
                by <a href="{{url_for('user.view', user=message.username)}}">{{message.username}}</a>
                {% if message.sub %}
                  [as mod of <a href="{{url_for('sub.view_sub', sub=message.sub)}}">/{{config.site.sub_prefix}}/{{message.sub}}</a>]
                {% endif %}
              {% elif message.sub %}
                by the mods of <a href="{{url_for('sub.view_sub', sub=message.sub)}}">/{{config.site.sub_prefix}}/{{message.sub}}</a>
              {% else %}
                by <a href="#">{{config.site.name}}</a>
              {% endif %}
            </p>
            <p class="container">
              {% if (message.username and "block_dms" not in current_user.prefs) or (message.sub and config.site.enable_modmail) or message.sender_can_admin %}
                <a href="#msg-form" data-mid="{{message.mid}}" class="replymsg">reply</a>
              {% endif %}
              {% if not message.read %}
                <a class="readmsg" data-mid="{{message.mid}}">mark as read</a>
              {% endif %}
              <!--<a class="btn small">forward</a>-->
              {% if message.username and not message.sub and not message.sender_can_admin and not current_user.can_admin and "block_dms" not in current_user.prefs %}
                <a class="block-msg" data-uid="{{message.sentby}}">{{_("block sender")}}</a>
              {% endif %}
              <a class="savemsg" data-mid="{{message.mid}}">save</a>
              <a class="deletemsg" data-mid="{{message.mid}}">delete</a>
              <div class="alert div-error"></div>
            </p>
          </div>
          <div id="replyto{{message.mid}}"></div>
        </article>
      {% endfor %}
    </div>
    {% include 'messages/nav.html' %}
  </div>
</div>
{% include 'messages/reply.html' %}
{% endblock %}
