<div class="msgnav">
  {% if page_info.has_previous_page %}
    <a href="{{url_for(box_route, before=page_info.start_cursor )}}" class="pure-button">prev</a>
  {% endif %}
  {% if page_info.has_next_page %}
    <a href="{{url_for(box_route, after=page_info.end_cursor )}}" class="pure-button">next</a>
  {% endif %}
</div>
