{% extends "layout.html" %}
{% block title %}Uploads | {{config.site.lema}}{% endblock %}

{% block sidebar %}
{{ super() }}
<a href="{{url_for('user.view', user=current_user.name)}}" class="sbm-post pure-button">{{current_user.name}}</a>
<a href="{{url_for('user.view_user_posts', user=current_user.name)}}" class="sbm-post pure-button">View posts</a>
<a href="{{url_for('user.view_user_comments', user=current_user.name)}}" class="sbm-post pure-button">View comments</a>
<a href="{{url_for('user.view_user_uploads')}}" class="sbm-post pure-button">View uploads</a>
<a href="{{url_for('user.view_user_savedposts', user=current_user.name)}}" class="sbm-post pure-button">View saved posts</a>
{% endblock %}

{% block content %}
{{ super() }}
{% if not page_info.items %}<h3 class="noshit">You haven't uploaded anything, yet.</h3>{% endif %}
<div id="center-container">
  <div class="uploads content">
      {% for item in page_info["items"] %}
        <div class="uploaditem">
          <div class="uploadthumb">
            {% if item.thumbnail == '' %}
              <span class="placeholder" data-icon="link"></span>
            {% elif item.thumbnail == 'deferred' %}
              <span class="placeholder deferred" data-icon="link"
                    data-deferred="UserUploads-{{ item.xid }}"></span>
            {% else %}
              <img class="lazy" src="{{ url_for('static', filename='img/1x1.gif') }}"
                   data-src="{{ thumbnail_url(item.thumbnail) }}"/>
            {% endif %}
          </div>
          <div class="uploadlinks">
            <div class="uploadlink"><a href="{{url_for('site.view_post_inbox', pid=item.pid)}}">View Post</a></div>
            <div class="uploadlink"><a href="{{file_url(item.fileid)}}">Direct Link</a></div>
          </div>
        </div>
      {% endfor %}
  </div>
</div>
<div class="col-12">
  {% if page_info.has_previous_page %}
    <a href="{{url_for('user.view_user_uploads', before=page_info.start_cursor)}}" class="pure-button">prev</a>
  {% endif %}
  {% if page_info.has_next_page %}
    <a href="{{url_for('user.view_user_uploads', after=page_info.end_cursor)}}" class="pure-button">next</a>
  {% endif %}
</div>
{% endblock %}
