{% extends "layout.html" %}
{% block title %}Posts from /u/{{user.name}} | {{config.site.lema}}{% endblock %}

{% block sidebar %}
{{ super() }}
<a href="{{url_for('user.view', user=user.name)}}" class="sbm-post pure-button">{{user.name}}</a>
<a href="{{url_for('user.view_user_posts', user=user.name)}}" class="sbm-post pure-button">View posts</a>
<a href="{{url_for('user.view_user_comments', user=user.name)}}" class="sbm-post pure-button">View comments</a>
{% if user.uid == current_user.uid %}
  {% if current_user.canupload %}
    <a href="{{url_for('user.view_user_uploads')}}" class="sbm-post pure-button">View uploads</a>
  {% endif %}
  <a href="{{url_for('user.view_user_savedposts', user=user.name)}}" class="sbm-post pure-button">View saved posts</a>
{% endif %}
{% endblock %}

{% block content %}
{{ super() }}
{% if not current_user.is_authenticated and config.site.block_anon_stalking %}
    <div>Please log in to see this user's posts.</div>
{% else %}
    {% if route == 'user.view_user_posts' %}
      <h3>Recent posts</h3>
      {% if user.status == 10 %}
        <div class="helper-text deleted-user">{{_("%(user)s has deleted their account.", user=user.name)}}</div>
      {% endif %}
    {% else %}
      <h3>Saved posts</h3>
    {% endif %}
    {% if not page_info.posts %}
      <h3>There are no posts here, yet.</h3>
    {% endif %}

    <div class="alldaposts">
      {% for post in page_info.posts %}
      {% include "indexpost.html" %}
    {%endfor%}
    </div>

    {% if page_info.has_previous_page %}
    <a href="{{url_for(route, user=user.name, before=page_info.start_cursor)}}" class="pure-button">prev</a>
    {% endif %}
    {% if page_info.has_next_page %}
    <a href="{{url_for(route, user=user.name, after=page_info.end_cursor)}}" class="pure-button">next</a>
    {% endif %}
{% endif %}
{% endblock %}
