{% extends "layout.html" %}
{% block title %}Comments made by /u/{{user.name}} | {{config.site.lema}}{% endblock %}


{% block sidebar %}
{{ super() }}
<a href="{{url_for('user.view', user=user.name)}}" class="sbm-post pure-button">{{user.name}}</a>
<a href="{{url_for('user.view_user_posts', user=user.name)}}" class="sbm-post pure-button">View posts</a>
<a href="{{url_for('user.view_user_comments', user=user.name)}}" class="sbm-post pure-button">View comments</a>
{% if user.uid == current_user.uid %}
  {% if current_user.canupload %}
    <a href="{{url_for('user.view_user_uploads')}}" class="sbm-post pure-button">View uploads</a>
  {% endif %}
  <a href="{{url_for('user.view_user_savedposts', user=user.name)}}" class="sbm-post pure-button">View saved posts</a>
{% endif %}
{% endblock %}

{% block content %}
{{ super() }}
{% if not current_user.is_authenticated and config.site.block_anon_stalking %}
    <div>Please log in to see this user's comments.</div>
{% else %}
    <div id="center-container">
      <div class="inbox content">
        <h3>Recent comments</h3>
        {% if user.status == 10 %}
          <div class="helper-text deleted-user">{{_("%(user)s has deleted their account.", user=user.name)}}</div>
        {% endif %}
        <div class="recent">
            {% if page_info.comments|length < 1 %}
            <p>
              This user has not commented on anything, yet
            </p>
            {% else %}
            {% for comment in page_info.comments %}
            <article id="{{comment.cid}}" data-cid="{{comment.cid}}" class="text-post no-padding comment usercomments {% if comment.status %}deletedcomment{% endif %}">
              <div class="commtitle">
                <span class="title"><a href="{{ url_for('sub.view_post', sub=comment.sub, pid=comment.pid) }}">
                  {% if comment.status == 1 %}
                    {{_('[Deleted by User]')}}
                  {% elif comment.status == 2 or comment.status == 3 %}
                    {{_('[Deleted by Mod or Admin]')}}
                  {% endif %}
                  <span class="{{comment.blur}}">{{comment.title}}</span>
                  {% if comment.sub_nsfw or comment.nsfw %}
                    <div class="nsfw" alt="Not safe for work">{{_('NSFW')}}</div>
                  {%endif%}
                </a></span>
                in <a href="{{ url_for('sub.view_sub', sub=comment.sub) }}">{{comment.sub}}</a>
              </div>
              <div class="commentrow {%if comment.cid == highlight %}highlight{%endif%}" id="comment-{{comment.cid}}">
                <div class="commblock">
                  <div class="commenthead">
                      <a href="{{ url_for('user.view', user=user.name) }}" class="poster">{{user.name}}</a> -
                      <b><span class="cscore">{{comment.score}}</span> points</b>
                      <span class="time">
                         <relative-time datetime="{{comment.time.isoformat()}}Z"></relative-time>
                      </span>
                    {% if comment.lastedit %}
                      <span class="time edited">
                        *(Edited <relative-time datetime="{{comment.lastedit.isoformat()}}Z"></relative-time>)
                      </span>
                    {% endif %}
                  </div>
                  <div class="content {{comment.blur}}" id="content-{{comment.cid}}">
                    {{markdown(comment.content)|safe}}
                  </div>
                    <div hidden id="sauce-{{comment.cid}}">{{comment.content}}</div>
                  <ul class="bottombar links">
                    <!-- TODO needs peewee <li><a href="{# url_for('sub.view_perm', sub=sub.name, cid=comment.cid, pid=post.pid) #}">direct link</a></li>-->
                    <li><a href="{{url_for('sub.view_perm', sub=comment.sub, pid=comment.pid, cid=comment.cid)}}">direct link</a></li>
                    {%if current_user.is_authenticated%}
                      {%if not postmeta[comment.pid].get('lock-comments') and not comment.archived and comment.status not in [1, 2, 3] and comment.post_deleted == 0%}
                        <li><a class="reply-comment" data-pid="{{comment.pid}}" data-to="{{comment.cid}}">reply</a></li>
                        {% if comment.uid == current_user.uid %}
                          <li><a class="edit-comment" data-cid="{{comment.cid}}">edit</a></li>
                        {% endif %}
                      {%endif%}
                      {% if comment.uid == current_user.uid or current_user.is_admin() and comment.status not in [1, 2, 3] %}
                        <li><a {{ ((comment['uid'] == current_user.uid) and 'selfdel="true"' or '')|safe }} class="delete-comment" data-cid="{{comment.cid}}">delete</a></li>
                      {% endif %}
                    {%endif%}
                    <li><a class="comment-source" data-cid="{{comment.cid}}">source</a></li>
                  </ul>
                </div>
              </div>
            </article>
          {% endfor %}
          {% endif %}
        </div>

        {% if page_info.has_previous_page %}
        <a href="{{url_for('user.view_user_comments', user=user.name, before=page_info.start_cursor)}}" class="pure-button">prev</a>
        {% endif %}
        {% if page_info.has_next_page %}
        <a href="{{url_for('user.view_user_comments', user=user.name, after=page_info.end_cursor)}}" class="pure-button">next</a>
        {% endif %}

      </div>
    </div>
{% endif %}
{% endblock %}
