@extends("shared/layout.html")
@require(codes, avail, csrf_form)
@def sidebar():
  @include('shared/sidebar/user.html')
@end

@def main():
<div id="container">
  <h1>@{_('Invite codes')}</h1>
  @if avail > 0:
    <form action="@{ url_for('do.invite_codes') }" method="post" id="createinvite">
      @{_('You can create <b>%(num)i</b> invite codes.', num=avail)!!html}
      @{ csrf_form.csrf_token()!!html }
      <input type="submit" name="createinvite-button" class="pure-button pure-button-primary" value="@{_('Create new')}">
    </form>
  @else:
    @{_('You cannot create invite codes.')}
  @end
  <hr/>
  <h2>@{_('Your invite codes')}</h2>
  <table class="invitecodes">
    <thead>
      <tr>
        <th>@{_('Created')}</th>
        <th>@{_('Code')}</th>
        <th>@{_('Expires')}</th>
        <th>@{_('Uses')}</th>
        <th>@{_('Max uses')}</th>
      </tr>
    </thead>
    <tbody>
      @for code in codes:
      <tr class="@{(code.uses >= code.max_uses or (code.expires is not None and code.expires < datetime.datetime.utcnow())) and 'expired' or ''}">
        <td>
          <relative-time datetime="@{code.created.isoformat()}Z" prefix="">@{code.created.isoformat()}</relative-time>
        </td>
        <td>
          @{code.code}
        </td>
        <td>
          @if code.expires:
            <relative-time datetime="@{code.expires.isoformat()}Z" prefix="">@{code.expires.isoformat()}</relative-time>\
          @else:
            @{_('N/A')}
          @end

        </td>
        <td>
          @{code.uses}
        </td>
        <td>
          @{code.max_uses}
        </td>
      </tr>
      @end
    </tbody>
  </table>

</div>
@end
